<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="task_name" type="text" class="validate">
            <label for="task_name">Task Name</label>
          </div>
          <div class="input-field col s6">
            <select>
              <option value="1">TODO</option>
              <option value="2">DOING</option>
              <option value="3">DONE</option>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <div class="row">
          <!--  TODO: add max size of the description textarea-->
          <div class="input-field col s12">
            <textarea id="task-description" class="materialize-textarea"></textarea>
            <label for="task-description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select class="icons">
              <option value="" disabled selected>Choose your option</option>
              <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">example 1</option>
              <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">example 2</option>
              <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">example 1</option>
            </select>
            <label>Assign to</label>
          </div>
          <div class="input-field col s6">
            <select>
              <option value="1">Feature</option>
              <option value="2">Bug</option>
              <option value="3">Improvement</option>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action waves-effect waves-green btn-flat" ng-click="addNewTask()">Create</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>