/* Extra small devices (phones, less than 768px) */

#kanban-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
}

.selected-column {
  flex: 1 !important;
}

.board-columns {
  flex: 1;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .board-columns {
    min-width: 290px;
  }
  .selected-column {
    flex-grow: 2 !important;
  }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .selected-column {
    /*    flex-grow: 1 !important;*/
  }
}

.board-header {
  width: 100%;
  box-shadow: none;
}

.task-item {
  max-height: 170px !important;
  margin: 3px !important;
}

.column-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: auto;
  /*  TODO: add webkit for older browser supporting*/
  height: calc(100% - 36px);
}

.board-container {
  height: 100%;
}